<% if @errors %>
	<% @errors.each do |error| %>
		<p><%= error %>
	<% end %>
<% end %>

<form action='/users/login' method='post'>
	<label>Login</label>
	<br>

	<label for='username'>Username</label>
	<input type='text' name='username'>
	<br>

	<label for='password'>Password</label>
	<input type='password' name='password'>
	<br>

	<input type='submit'>
</form>