<p><%= @card.question %></p>

<form action="<%="/decks/#{@deck_id}/cards/#{@card.id}/rounds/#{@round_id}/guesses/#{@guess_id}"%>" method='post'>
	<input type='hidden' name='_method' value='put'>
	<label for='title'>Enter your guess:</label>
	<br>
	<input type='text' name='guess'>
	<br>
	<input type='submit' value='submit your guess'>
</form>