<p><%= @card.question %></p>

<!-- We've got to figure out how were handling logi with gueses. this form only directs to the next card. no info on guess stored yet. -->

<form action="<%="/decks/#{@card.deck.id}/card/#{@card.id}"%>" method='post'>
	<label for='title'>Enter your guess:</label>
	<br>
	<input type='text' name='guess'>
	<br>
	<input type='submit' value='submit your guess'>
</form>