<% if session[:user_id] %>
	<form action='/users/logout' method='post'>
		<input type='hidden' name='_method' value='delete'>
		<input type='submit' value='logout'>
	</form>
<% end %>

<p>homepage</p>